{% extends "base.html" %}

{% block content %}

    <h1>Manage a Club<h1>
	{% for c in clubs %}
	<a href="{{ url_for('club_settings',club_id=c.club_id) }}">{{c.club_name}}</a>
	</br>
	</br>
	{% endfor %}
</br>
</br>

    <h1>Set Tenhou Name</h1>
    <h2>Name: {{user.tenhou_name}}</h2>
    <form action="" method="post">
        {{ tenhou_name_form.hidden_tag() }}
        <p>
            {{ tenhou_name_form.tenhouName.label }}<br>
            {{ tenhou_name_form.tenhouName(size=8) }}<br>
            {% for error in tenhou_name_form.tenhouName.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ tenhou_name_form.submit() }}</p>
    </form>

</br>
</br>

    <h1>Set Password</h1>
    <form action="" method="post">
        {{ pass_form.hidden_tag() }}
        <p>
            {{ pass_form.password.label }}<br>
            {{ pass_form.password(size=32) }}<br>
            {% for error in pass_form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ pass_form.password2.label }}<br>
            {{ pass_form.password2(size=32) }}<br>
            {% for error in pass_form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ pass_form.submit() }}</p>
    </form>
{% endblock %}
