{% extends "base.html" %}

{% block content %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% if tourney.tenhou_rate != None and tourney.tenhou_rate.lower() == "binghou" %}

<h1> Kantest standings </h1>

{% else %}

<h1> Standings </h1>

{% endif %}

<h2>Rate: {{tourney.tenhou_rate}}</h2>

  <table>
    <tr>
      <th>Name</th>
      {% if tourney.tenhou_rate != None and tourney.tenhou_rate.lower() == "binghou" %}
      <th>Kans</th>
      {% else %}
      <th>Score</th>
      {% endif %}
    </tr>
      {% for score,name in standings %}
    <tr>
      {% if tourney.tenhou_rate != None and tourney.tenhou_rate.lower() == "binghou" %}
      <th><a href="{{ url_for('binghou',userName=name)}}">{{name}}</a></th>
      {% else %}
      <th>{{name}}</th>
      {% endif %}
      <th>{{ score }}</th>
    </tr>
      {% endfor %}
  </table>

<br>
<br>

<button type="button" class="collapsible">Games</button>
<div class="content">

  {% for round in games %}
  
  <button type="button" class="collapsible">Round {{round}}</button>
  <div class="content">
    <table>
    <tr>
      <th>東</th>
      <th>南</th>
      <th>西</th>
      <th>北</th>
      <th>Replay</th>
    </tr>        
   {% for game in games[round] %}
    <tr>
      <th>{{game.ton_payout}} &nbsp {{game.ton}}</th>
      <th>{{game.nan_payout}} &nbsp {{game.nan}}</th>
      <th>{{game.xia_payout}} &nbsp {{game.xia}}</th>
      <th>{{game.pei_payout}} &nbsp {{game.pei}}</th>
      <th><a href="https://tenhou.net/0/?log={{game.replay_id}}">https://tenhou.net/0/?log={{game.replay_id}}</a></th>      
    </tr>
    {% endfor %}
   </table>    
  </div>

  {% endfor %}
  
  </div>

</div>
  <script>
    {% include "tabs.html" %}
  </script>
  
{% endblock %}
